html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{ margin:0; padding:0; }
body{font:12px "微软雅黑";}
a{text-decoration:none;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
b,i,em,strong{font-weight:normal;font-style:normal;}
img{border:none;vertical-align:middle;}
*:focus{
	outline: none;
}
html,body{
	width: 100%;
	height: 100%;
}
a{text-decoration: none;}
li{
	list-style: none;
}
/*导航*/
.header-warp{
	width: 100%;
	height: 40px;
	background: #333333;
}
.header-content{
	margin: 0 auto;
	width: 85%;
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content:space-between;
}
.con-left,.con-right{
	display: flex;
	
}
.con-left p{
	margin-right: 26px;
}
.con-right p{
	margin-left: 28px;
	display: flex;
}
.con-right b{
	color:#ddd;
	font-weight: normal;
}
.con-left a{
	
	/*display: block;*/
	font-size: 12px;
	color: #fff;
}
.con-right a,.con-right i{
	/*display: block;*/
	
	font-size: 12px;
	color: #fff;
}
.header-content a:hover{
	color:#ccc;
	}
/*登录界面logo*/	
.loding-logo{
	width: 100%;
	height: 70px;
	background: #fff;
	line-height: 70px;
}	
.loding-logo img{
	margin-left: 300px;
	vertical-align: middle;
	padding-right: 30px;
	border-right: 1px solid #ddd;
}	
.loding-logo span{
	margin-left: 30px;
	font-size: 16px;
	color: #666666;
}	
/*内容部分*/
.main-content{
	width: 100%;
	height: 553px;
	background: url(../images/loding.jpg);
	position: relative;
	font-size: 10px;
}
.main-content .register{
	width: 380px;
	height: 530px;
	background: #fff;
	position: absolute;
	left: 915px;
	margin-top: 11px;
}
.main-content .register .re-top{
	width: 345px;
	height: 42px;
	border-bottom: 1px solid #ddd;
	margin: 0 auto;
	text-align: center;
	font-size: 10px;
	display: flex;
	justify-content: center;
	margin-top:25px;
}
.main-content .register .re-top p{
	width: 124px;
	height: 42px;
	margin: 0 3px;
	line-height: 42px;
}
.main-content .register .re-top p:nth-child(1){
	background: #f3f3f3;
	color: #000;
}
.main-content .register .re-top p:nth-child(2){
	background: #333;
	color: #fff;
}


.main-content .register .phonenumber,.main-content .register .passe{
	width: 312px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #ddd;
	margin: 0 auto;	
	margin-top: 30px;
}
.main-content .register .phonenumber span,.main-content .register .verify-con span,.main-content .register .m_verify-con span,.main-content .register .passe span{
	padding: 0 5px;	
}
.main-content .register .phonenumber input,.main-content .register .passe input{
	width: 250px;
	border: none;
}
.main-content .register .verify-con input,.main-content .register .m_verify-con input{
	width: 150px;
	border: none;
}
.main-content .register .verify,.main-content .register .m_verify{
	width: 312px;
	height: 38px;	
	display: flex;
	margin: 0 auto;
	margin-top: 30px;
}
.main-content .register .verify-con{
	width: 200px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #ddd;
}
.main-content .register .verify img{
	width: 110px;
	height: 38px;
}

.main-content .register .m_verify-con{
	width: 235px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #ddd;
}

.main-content .register .m_verify p{
	width: 72px;
	height: 38px;
	background:#333 ;
	color: #fff;
	line-height: 38px;
	margin-left: 3px;
	text-align: center;
}
.main-content .register .yes{
	width: 312px;
	height: 38px;
	background: #000;
	color: #fff;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	line-height: 38px;
	margin-top: 3px;
}
.main-content .register .agreement{
	text-align: center;
	margin-top: 30px;
}
/*底部*/
.loding-bottom p{
	text-align: center;
	margin-top: 30px;
	font-size: 12px;
	color: #666;
}
